.Home-dateCard {
  background-color: var(--primary);
  color: var(--white);
  font-family: var(--primaryFont);
  margin: 30px 100px;
  padding: 10px;
  font-size: var(--l);
  border-radius: var(--s);
}
