.Home-dateCard {
  background-color: var(--primary);
  color: var(--white);
  font-family: var(--primaryFont);
  font-size: var(--l);
  border-radius: var(--s);
  padding: var(--s);
  margin: 20px 100px;
}
