.Login-background {
  background-image: url("../../public/loginBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* fill entire background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
