.Profile-avatarContainer {
  margin: 0 0 25px 0;
}

.Profile-avatar {
  /* make it responsive */
  width: 100px;
  padding-top: 100px;
  display: block;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
}

.Profile-name {
  font-size: 20px;
  font-weight: 300;
  padding: 0px 20px;
  color: var(--secondary);
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--l) var(--l);
  color: var(--accent);
}

.Profile-reviews {
  width: 75%;
}

.Profile-reviewContent {
  padding: 0px 15%;
}

.Profile-leftColumn {
  margin: 10px 15px 0 30px;
}

.Profile-wrap {
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .Profile-name {
    font-size: 2rem;
  }
  .Profile-leftColumn {
    width: 100%;
  }
  .Profile-reviews {
    width: 100%;
  }
}
