.Profile-avatarContainer {
  padding: 0 0 0 20px;
  margin: 0 0 25px 0;
}

.Profile-avatar {
  /* make it responsive */
  width: 100px;
  height: 100px;
  display: block;
  /* div height to be the same as width*/
  /* padding-top: 50%; */

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image's center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Profile-name {
  font-size: 20px;
  font-weight: 300;
  padding: 0px 20px;
  color: var(--secondary);
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--l) var(--l);
  color: var(--accent);
}

.Profile-reviews {
  width: 75%;
}

.Profile-reviewContent {
  padding: 0px 15%;
}

.Profile-leftColumn {
  margin: 10px 15px 0 30px;
}
