.FoodItem-foodName {
  font-size: var(--m);
}

.FoodItem-container {
  background-color: var(--lightgray);
  color: var(--secondary);
  border-radius: var(--xs) var(--xs) 0 0;
  margin: 0 0 10px 0;
  padding: 10px;
  height: 20px;
}

.FoodItem-addReview {
  color: var(--secondary);
  background-color: var(--lightgray);
  border-radius: 0 0 var(--xs) var(--xs);
  margin: 0 0 10px 0;
  padding: 10px;
}

.FoodItem-reviewList {
  padding: 10px;
}

.FoodItem-largeContainer {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: var(--xs);
}
