.Navbar-container {
  padding: var(--s) var(--m);
  background-color: var(--medgray);
  height: 36px;
}

.Navbar-link {
  color: var(--white);
  font-family: var(--secondary);
  font-size: var(--m);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

.Navbar-link:hover {
  opacity: 0.8;
}

.Navbar-logout {
  padding: var(--s) var(--l);
  background-color: var(--primary);
  border: none;
}

.Navbar-link + .Navbar-link {
  margin-left: var(--m);
}

.Navbar-home {
  font-size: var(--l);
}

.Navbar-image {
  width: 32px;
  height: 32px;
  margin-top: 2.5px;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;

  background-size: cover;
}

.Navbar-logo {
  height: 32px;
  width: 100px;

  margin-top: 2.5px;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;

  background-image: url("../../public/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
