.Review-userLink {
  color: var(--secondary);
  font-family: var(--secondary);
  font-size: var(--m);
  text-decoration: none;
}

.Review-userLink:hover {
  opacity: 0.8;
}

.Review-container {
  color: var(--secondary);
  font-family: var(--secondaryFont);
  padding: var(--s);
}

.Review-content {
  font-size: var(--m);
}

.Review-rating {
  margin: 0 0 0 var(--s);
}

.Review-date {
  font-style: italic;
}
