.User-reviews {
  /* make it responsive */
  width: auto;
  height: auto;
  /* display: block; */
  /* div height to be the same as width*/
  padding-top: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1%;

  /* it is optional, for making this div centered in parent*/
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: var(--lightgray);

  /* font */
  font-family: var(--secondaryFont);

  text-align: left;
}

.User-reviews .Rating-box {
  display: inline-block;
}
